[Unit]
Description=NGINX metrics exporter for Prometheus
After=network-online.target

[Service]
ExecStart=/home/mhelmich/Entwicklung/Privat/Go-Workspace/src/github.com/martin-helmich/prometheus-nginxlog-exporter/prometheus-nginxlog-exporter -config-file /home/mhelmich/Entwicklung/Privat/Go-Workspace/src/github.com/martin-helmich/prometheus-nginxlog-exporter/example-config.hcl
Restart=always

[Install]
WantedBy=multi-user.target
