name: Release

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x

      - name: Docker login
        if: success() && startsWith(github.ref, 'refs/tags/')
        env:
          DOCKER_USERNAME: ${{ secrets.dockerUsername }}
          DOCKER_PASSWORD: ${{ secrets.dockerPassword }}
          GITHUB_TOKEN: ${{ secrets.githubToken }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login --username "${DOCKER_USERNAME}" --password-stdin quay.io
          echo "${GITHUB_TOKEN}" | docker login docker.pkg.github.com -u helmich-bot --password-stdin

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: v0.184.0
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.githubToken }}